<!DOCTYPE html>
html(lang="en")
    head
        title #{pageTitle}
        link(rel="stylesheet", href="/css/auth.css")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/background.css")
    body
        main
            form.login-form(action="/login", method="POST")
                .form-control
                    label(for="email") Email
                    input(type="email", name="email")#email
                    label(for="password") Password
                    input(type="password", name="password")#password
                
                input(type="hidden" name="_csrf" value=csrfToken)
                .card__actions
                    button.btn(type="submit") Login
                    a(href="/signup") Not a user? Sign Up
